
/* Setting Variables */
// Website Colors
$blue: #012a5f;
$lightblue: #3b8ea5;
$red: #750d37;
$orange: #de9e36;
$green: #58a86e;

// BreakPoints
$sm: 576px;
$md: 992px;
$lg: 1500px;

/* Global Styles */
* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
a {
    text-decoration: none; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
article {
    overflow-x: hidden;
}
footer{
    margin-top: auto;
}
.white {
    color: white;
}

/* Cellphone */
// font sizes
.blog-h1 {
    font-weight: bold;
    font-size: 1.25rem;
    color: $blue;
    text-align: center;
    padding: 0;
    margin: 2rem 0 1rem;
}
.blog-h2 {
    font-weight: bold;
    font-size: 1.125rem;
    color: black;
    align-items: center;
    margin: 1rem auto 0.5rem;
    width: 80vw;
}
.blog-h3 {
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    background-color: #012a5f;
    color: white;
    width:fit-content;
    padding: 4px 4px 2px;
    margin: 0 0 8px;
}
.blog-p {
    font-size: 1rem;
    width: 80vw;
    margin: 0 auto;
    text-align: justify;
}
.blog-cap {
    font-size: 0.8rem;
}

// default logo
.logo-svg {
    max-height: 56px;
    width: auto;
    margin-right: 10px
}
.logo-one {
    font-weight: 700;
    font-size: 1.75rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px 0 -8px;
}
.logo-premium {
    font-weight: 300;
    font-size: 1.75rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
.logo-container {
    display: flex;
    align-items: center;
    padding: 5px 3%;
    justify-content: center;
}

// header
.header-container {
    display: flex;
    padding: auto;
    background-color: $blue;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header-nav-container {
    display: none;
}
@keyframes bannerin {
    0% {
        transform: translateX(100%)
    }
    80% {
        transform: translateX(10%)
    }
    100% {
        transform: translateX(0%);
    }
}
.header-nav-container-clicked {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #345a8c;
    position: absolute;
    top: 77.2px;
    width: 100vw;
    height: 250px;
    animation: 0.25s ease-out 0s 1 bannerin;
    z-index: 2;
}
.header-nav {
    font-size: 1.3rem;
    padding: 8px;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    transition: border-bottom, color, text-decoration 0.25s;
    z-index: 2;
}

.header-nav:hover,
.header-nav:focus {
    border-bottom: 3px solid transparent;
    color: lightgrey;
    text-decoration: underline;
}
.header-menu {
    display: flex;
    margin-right: 3%;
}
.header-menu-clicked {
    display: none;
    margin-right: 3%;
}
.header-close {
    display: none;
    margin-right: 3%;
}
.header-close-clicked {
    display: flex;
    margin-right: 3%;
}

//Home Page Content
img {
    max-width: 100%;
}
.Home-Banner-Container {
    display: flex;
    flex-direction: column;
    background-color: #435d7d;
    background-image:  url('../img/mainbackground.jpg');
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 77.2px;
    align-items: center;
    justify-content: center;
}
.Home-Title-Upgrade {
    margin-top: 10px;
    font-size: 0.8rem;
    padding: 1rem 0 0;
    
}
.Home-Title-Project {
    font-size: 4rem;
}
.Home-Title-One {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 -0.8rem;
}
.Home-Title-Premium {
    font-size: 4rem;
    font-weight: 300;
}
.Home-Title-My {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
    width: 206px;
    text-align: center;
    margin-bottom: 16px;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}
.Home-igor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 2rem;
}
.Home-igor {
    border-radius: 50%;
    width: 40%;
    margin: 1rem 0 1.5rem;
}
.Home-igor-p{
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 1rem;
}
.Home-explore-container {
    background-color: #ded3c5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Home-topic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.Home-topic-svg {
    width: 70%;
    height: auto;
    margin-top: 1rem;
}
.Home-topic-button {
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    width: fit-content;
    background-color: white;
    color: black;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 0px 1.5px 3px black;
    text-decoration: none;
    display: block;
    transition: box-shadow transform color background-color 0.25s;
}
.Home-topic-button:hover {
    box-shadow: none;
    transform: translate3d(0 1.5px 0);
    color: white;
    background-color: black;
}

.Home-gallery-container {
    display: flex;
    align-items: top;
    margin: 0 auto -4rem;
    justify-content: center;
    width: 100vw;
}
.Home-gallery-transition {
	transition: transform 0.7s ease-in-out;
}
.Home-gallery-image {
    margin-bottom: 1rem;
}
.Home-gallery-articles {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0.5rem 30vw 0.5rem;
    align-items: center;
    text-align: center;
}
.Home-gallery-left,
.Home-gallery-right {
    border-radius: 50%;
    background-color: white;
    padding: 0;
    align-items: center;
    position: relative;
    transition: box-shadow 0.1s;
}
.Home-gallery-left:hover,
.Home-gallery-right:hover {
    box-shadow: 0px 1.5px 3px black;
}

.Home-gallery-left {
    left: 7.5vw;
    bottom: 9rem;
}
.Home-gallery-right {
    left: calc(92.5vw - 96px);
    bottom: 9rem;
}

.Home-form {
    width: 80vw;
    margin: 1rem auto 2rem;
    border-bottom: 12px solid $red;
    border-right: 12px solid $red;
    border-top: 12px solid $lightblue;
    border-left: 12px solid $lightblue;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
}
.Home-form-label {
    width: calc(80vw - 56px);
    margin: 10px 0 6px;
    font-size: 1rem;
    font-weight: bold;
}
.Home-form-input {
    width: calc(80vw - 56px);
    font-size: 1rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid gray;
    transition: border-bottom 0.25s;
}
.Home-form-input:focus,
.Home-form-textarea:focus,
.Home-form-input:hover,
.Home-form-textarea:hover {
    outline: none;
    border-bottom: 3px solid black;
}
.Home-form-valid {
    background-image: url("../SVG/valid.svg");
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: calc(80vw - 88px);
    background-color: rgba(50, 168, 82, 0.2);
    border-bottom: 1px solid rgba(50, 168, 82, 1);
}
.Home-form-invalid {
    background-image: url("../SVG/invalid.svg");
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: calc(80vw - 88px);
    background-color: rgba(181, 45, 38, 0.2);
    border-bottom: 1px solid rgba(181, 45, 38, 1);
}

.Home-form-textarea {
    width: calc(80vw - 56px);
    height: 6rem;
    resize: none;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
}
.Home-form-submit {
    margin: 8px auto -1rem;
}
.Back-to-top {
    border-radius: 50%;
    background-color: white;
    padding: 0;
    align-items: center;
    position: fixed;
    display: none;
    opacity: 0.3;
    transition: opacity box-shadow 0.25s;
    bottom: 10vh;
    right: 5vw;
}
.Back-to-top:hover {
    opacity: 1;
    box-shadow: 0px 1.5px 3px black;
}

//footer
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b3b3b3;
    padding: 1rem 0;
}
.footer-title-container {
    display: flex;
    flex-direction: column;
}
.footer-title{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 8px 0px 4px;
}
.footer-linktext{
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
}
.footer-social-container {
    display: flex;
    justify-content: center;
    padding: 4px 0px 8px;
}
.footer-icon {
    margin: 0 4px;
}
.footer-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.footer-logo {
    font-size: 1.25rem;
    max-height: 40px;
}
.footer-copyright{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    padding: 0px 0px 4px;
}

/* Tablet */
@media only screen and (min-width: $sm) {
    // blog
    .blog-h1 {
        font-size: 1.5rem;
    }
    .blog-h2 {
        font-size: 1.25rem;
        width: 70vw;
    }
    .blog-p {
        font-size: 1.125rem;
        width: 70vw;
    }
    .blog-cap {
        font-size: 1rem;
    }
    // main page
    .Home-igor-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .Home-igor {
        border-radius: 50%;
        width: 22%;
        margin: 1rem 0;
    }
    .Home-igor-p{
        font-size: 1.125rem;
        width: 50%;
        margin: 1rem 2rem 0;
        text-align: justify;
        margin-bottom: 1rem;
    }
    .Home-topic-container {
        flex-direction: row;
    }
    .Home-topic-adjustment {
        max-width: 40vw;
        margin: 0.5rem 1rem 0;
    }
    .Home-topic-svg {
        width: 30%;
        height: auto;
        margin: 1rem 0;
    }
    .Home-gallery-image {
        width: 35vw;
    }
    .Home-gallery-left {
        left: 10vw;
    }
    .Home-gallery-right {
        left: calc(90vw - 96px);
    }

    .Home-form {
        width: 70vw;
    }
    .Home-form-input,
    .Home-form-label,
    .Home-form-textarea {
        width: calc(70vw - 56px);
    }
    .Home-form-valid,
    .Home-form-invalid {
        background-position: calc(70vw - 88px);
    }
    // footer
    .footer-title-container {
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    .footer-title {
        margin: 0 3%;
    }
    .footer-bottom-container {
        flex-direction: row;
        justify-content: center;
    }

}
/* Computer */
@media only screen and (min-width: $md) {
    // blog
    .blog-p {
        width: 50vw;
    }
    .blog-h1 {
        margin-top: 2rem;
    }
    // header
    .header-nav-container,
    .header-nav-container-clicked {
        display: flex;
        justify-content: space-between;
        flex-basis: auto;
        flex-direction: row;
        margin-right: 3%;
        background-color: $blue;
        position: static;
        width: auto;
        height: auto;
        animation: none;
    }

    .header-nav {
        font-size: 1.3rem;
        margin: 9px 5px 5px 5px;
        transition: border-bottom, color 0.25s;
    }
    .header-nav:hover{
        border-bottom: 3px solid lightgray;
        text-decoration: none;
    }
    .header-menu,
    .header-menu-clicked,
    .header-close,
    .header-close-clicked {
        display: none;
    }
    
    
    // Title Page
    .Home-Title-Upgrade {
        font-size: 1rem;
    }
    .Home-Title-Project {
        font-size: 5rem;
    }
    .Home-Title-One {
        font-size: 5rem;
        margin: 0 0 -1rem;
    }
    .Home-Title-Premium {
        font-size: 5rem;
    }
    .Home-Title-My {
        font-size: 1rem;
        width: 258px;
    }
    .Home-igor {
        border-radius: 50%;
        width: 14%;
        margin: 1rem 0;
    }
    .Home-igor-p {
        width: 35%;
    }
    .Home-topic-adjustment {
        max-width: 35vw;
    }
    .Home-gallery-image {
        width: 25vw;
    }
    .Home-gallery-articles {
        width: 25vw;
        margin: 0.5rem 5vw 0.5rem;
    }
    .Home-gallery-left {
        left: 31vw;
    }
    .Home-gallery-right {
        left: calc(69vw - 96px);
    }
    .Home-form {
        width: 50vw;
    }
    .Home-form-input,
    .Home-form-label,
    .Home-form-textarea {
        width: calc(50vw - 56px);
    }
    .Home-form-valid,
    .Home-form-invalid {
        background-position: calc(50vw - 88px);
    }
    .Back-to-top {
        right: 10vw;
    }
}
